/* common */
$min-width: 320px; 
$max-width: 1200px;


$default-transition:all 0.5s linear;

/*colors*/
$bg-main: #FFF;
$color-main: #171717;
$color-grey: #b8b8bd;
$color-gold: #cb944c;
$color-navy: #2b3056;
$color-blue: #3eade2;
$color-black: #181616;



//fonts

$font-size-main: 14px;
$font-family-main: 'PT Sans', sans-serif;
$font-family-bold: 'PT Sans Bold', sans-serif;


