
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header{
  margin: 30px 100px;
  font-size:$font-size-main;
  &__mobile{
    display: none;
  }
  .row {
    position:relative;
    padding:0 440px 0 305px;
    height:70px;
  }
  &__logo{
    display:block;
    width:247px;
    position:absolute;
    top:0;
    left:12px;
    background: url('../img/logo_main.png') no-repeat;
    background-size: contain;
    z-index: 2;
  }
  h1{
    color:$color-grey;
    font-size:$font-size-main;
    font-weight:normal;
    margin-top:42px;
  }
  &__search{
    input{
      width:100%;
      padding: 14px 8px;
      font-size:$font-size-main;
      background: url("../img/search_gold.png") no-repeat 97% 50%;
      ::-webkit-input-placeholder {
        color:$color-middle-grey;
      }
      ::-moz-placeholder{
        color:$color-middle-grey;
      }
      :-moz-placeholder{
        color:$color-middle-grey;
      }
      :-ms-input-placeholder{
        color:$color-middle-grey;
      }
      color: $color-grey;
      border: 1px solid $color-middle-grey;
      border-radius: 5px;
    }

  }
  &__contacts{
    position:absolute;
    top:0;
    right:12px;
    >div{
      float: right;
      &:first-child{
        p{
          padding-top: 7px;
          color:$color-navy;
          &:first-child{
            color:$color-gold;
          }
        }

      }
      &:last-child{
        p{
          padding:12px 17px 0 0 ;
          font-size:23px;
          color: $color-black;
        }
      }
    }
&:after{
  clear: both;
  content: "";
}
  }
  &__basket-enter{
    position:absolute;
    top:88px;
    right:12px;
    height: 23px;
    padding-left: 40px;
    background: url("../img/basket_gold.png") no-repeat 0 50%;
    font-weight:bold;
    line-height:23px;
    color: $color-navy;

    a{
      display: inline-block;
      width: 90px;
      text-align: right;
      background: url("../img/enter_gold.png") no-repeat 20px 50%;
    }
    span{
      &:first-child{
        color: #fff;
        display: inline-block;
        height: 21px;
        width: 21px;
        margin-right:5px;
        border-radius:10px;
        background: $color-gold;
        text-align: center;
        font-size:$font-size-main;
      }
      &:nth-child(3),&:nth-child(4){
        font-size:$font-size-option;
      }
    }
  }
  nav{
    width:100%;
    border: 1px solid $color-light-grey;
    border-left: none;
    border-right: none;
    padding-left:30px;
    background: url("../img/menu_icon_gold.png") no-repeat 12px 50%;
    z-index: 50;
  }
  &__main-menu{
    z-index: 50;
    li,  ul, a, &:after{
      z-index: 50;
      display: block;
    }
    &:after{
      clear: both;
      content: "";
    }
    li{
      cursor: pointer;
      position: relative;
      span,
      ul li,
        ul li a {
        width: 100%;
      }

    }
    >li{
      float: left;
      font-size:$font-size-option;
      font-weight:bold;
      padding: 20px 12px;
      &.deeper{
        position: relative;
        padding-right:20px;
        &:after{
          content: url("../img/arrow_down_gold.png");
          position: absolute;
          right: 5px;
          top: 18px;
        }
        .deepest{
          z-index: 100;
          &:after{
            content: url("../img/arrow_down_gold.png");
            transform: rotate(270deg);
            position: absolute;
            right: 15px;
            top: 12px;
            transition: .5s linear;
          }
          span{
            text-transform: uppercase;
            color: $color-gold;
            font-weight:bold;
            display: block;
            width: 245px;
            margin-left: -35px;
            padding-left: 15px;
            cursor: default;
          }
        }

      }
       > ul > li,
       > ul > li > ul > li {
        height: 0;
        transition: 0.5s;
        overflow: hidden;
        width: 245px;
        color: $color-deep-grey;
        font-size:$font-size-option;
        font-weight:normal;
         &:hover{
           background: #e9e9ea;
         }
         &:first-child:hover{
           background: inherit;
         }
         &:first-child.deeper:hover{
           background: #e9e9ea;
         }
      }
      > ul > li a{
        position: relative;
      }
      > ul > li a:before{
        content: url("../img/menu_ring_gold.png");
        position: absolute;
        top:-2px;
        left: -15px;
      }
        &:hover > ul > li,
        > ul > li:hover > ul > li,
        > ul > li > ul > li:hover > ul > li {
        height:inherit;
        padding:10px 35px;
        overflow: visible;
      }
        &:hover > ul,
        > ul > li:hover > ul,
        > ul > li > ul > li:hover > ul{
          border: 1px solid $color-middle-grey;
          border-radius: 5px;
          padding-top: 20px;
          padding-bottom: 20px;
          transition: 0s;
      }

    }
    ul {
      position: absolute;
      top:60px;
      left:-25px;
      background: $bg-main;
      box-shadow: 2px 2px $color-light-grey;
      ul {
        left: calc(100% + 3px);
        top: -20px;
      }
    }
  }
}




@media screen and (max-width: 1400px) {
  .header{
    .row {
      height:100px;
      padding:0 400px 0 305px;
    }
    &__basket-enter{
      top:60px;
      a{
        margin-left: 40px;
      }
    }
    &__main-menu{
      >li{
        padding: 20px 25px;
      }
    }

  }
}

@media screen and (max-width: 1200px) {
  .header{
    margin: 30px 30px;
    &__main-menu{
      >li{
        padding: 20px 15px;
      }
    }
  }

}

@media screen and (max-width: 991px){
  .header{
    margin: 30px 20px;
    .row {
      padding:0 270px 0 230px;
      height:90px;
    }
    &__logo{
      width:180px;
    }
    h1{
      font-size:13px;
      margin-top:30px;
    }
    &__search{
      input{
        padding: 11px 8px;
      }
    }
    &__contacts{
      font-size:10px;
      >div{
        &:first-child{
          p{
            padding-top: 5px;
          }
        }
        &:last-child{
          p{
            padding:10px 17px 0 0 ;
            font-size:16px;
          }
        }
      }
    }
    &__basket-enter{
      top:50px;
      height: 18px;
      padding-left: 30px;
      background-size: auto 18px;
      line-height:18px;
      font-size:12px;
      a{
        display: inline-block;
        width: 80px;
        text-align: right;
        background: url("../img/enter_gold.png") no-repeat 15px 50%;
        background-size: auto 18px;
        margin-left: -10px;
        font-size:13px;
      }
      span{
        &:first-child{
          color: #fff;
          display: inline-block;
          height: 18px;
          width: 18px;
          margin-right:5px;
          border-radius:9px;
          background: $color-gold;
          text-align: center;
          font-size:13px;
          line-height:19px;
        }
        &:nth-child(3),&:nth-child(4){
          font-size:13px;
        }
      }
    }
    &__main-menu{
      >li{
        padding: 20px 10px;
        font-size:13px;
      }
    }
  }

}

@media screen and (max-width: 767px) {
  .header{
    margin: 0;
    &__mobile{
      display: block;
      ul{
        padding:0;
        margin:0;
        background: #f0f1f6;
        li{
          display: inline-block;
          height: 40px;
          width: 16%;
          cursor: pointer;
          &:nth-child(1){
            background: #3eade2 url("../img/menu_mobile_icon.png") no-repeat 50% 50%;
          }
          &:nth-child(2){
            background: url("../img/home_mobile_icon.png") no-repeat 50% 50%;
          }
          &:nth-child(3){
            background: url("../img/search_mobile_icon.png") no-repeat 50% 50%;
          }
          &:nth-child(4){
            background: url("../img/basket_mobile_icon.png") no-repeat 50% 50%;
          }
          &:nth-child(5){
            background: url("../img/enter_mobile_icon.png") no-repeat 50% 50%;
          }
          &:nth-child(6){
            background: url("../img/callback_mobile_icon.png") no-repeat 50% 50%;
          }
          a{
            display: block;
            height: 100%;
          }
        }
      }
    }
    .row{
      padding: 0;
      height: 75px;
    }
    &__logo{
      width: 250px;
      position: static;
      top:auto;
      left: auto;
      padding-top: 45px;
      padding-left:20px;
      background-size: 190px auto;
      background-position: 20px 15px;
    }
    h1{
      color:$color-grey;
      font-size:$font-size-main;
      font-weight:normal;
      margin-top:auto;
    }
    &__search{
       display: none;
      &.open{
        display: block;
        position: fixed;
        left: 10%;
        top: 0;
        z-index: 501;
        width: 80%;
        margin: 25px auto;
        background: $bg-main;
        padding: 50px 25px;
        border-radius: 5px;

      }

    }
    &__contacts{
      display: none;
    }
    &__basket-enter{
      display: none;
      }
    nav{
      padding-left:0;
      width: 245px;
      border: none;
      position: absolute;
      top:40px;
      z-index: 50;
      background: $bg-main;
      height: 0;
      overflow: hidden;
      transition: heigth .5s ;
      &.open{
        height: auto;
        box-shadow: 2px 2px $color-light-grey;
      }
      }
    &__main-menu{

      li{
        ul li,
        ul li a {
          width: auto;
        }
      }
      >li{
        float: none;
        padding: 15px 10px;
        &.deeper{
          &:after{
            right: 25px;
          }
          .deepest{
            &.open{
              > ul {
                padding-top: 10px;
                > li{
                width: 220px;
                height: auto;
                padding:10px 15px;
                overflow: hidden;
                &:first-child{
                  display: none;
                }
              }
              }
              &:after{
                content: url("../img/arrow_down_gold.png");
                transform: rotate(0deg);
              }
            }
          }

          &.open{
            > ul > li, > ul > li:hover{
              height: auto;
              padding:10px 15px;
              overflow: hidden;
            }
          }

        }
        > ul > li,
        > ul > li > ul > li {
          &:hover{
            background: inherit;
          }
          &:first-child:hover{
            background: inherit;
          }
          &:first-child.deeper:hover{
            background: inherit;
          }
        }
        > ul > li a{
          position: relative;
        }
        > ul > li a:before{
          content: url("../img/menu_ring_gold.png");
          position: absolute;
          top:-2px;
          left: -15px;
        }
        &:hover > ul > li,
        > ul > li:hover > ul > li,
        > ul > li > ul > li:hover > ul > li ,
        > ul > li,
        > ul > li > ul > li,
        > ul > li > ul > li > ul > li {
          height: 0;
          padding:0;
          overflow: hidden;
        }
        &:hover > ul,
        > ul > li:hover > ul,
        > ul > li > ul > li:hover > ul,
        > ul,
        > ul > li > ul,
        > ul > li > ul > li > ul{
          border:0;
          padding-top: 0;
          padding-bottom:0;
        }

      }
      ul {
        position: static;
        top:auto;
        left:auto;
        box-shadow: none;
        ul {
          padding-top: 0;
          left: auto;
          top:auto;
        }
      }
    }
    }
}
