
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header{
  margin: 30px 100px;
  font-size:$font-size-main;
  .row {
    position:relative;
    padding:0 440px 0 305px;
    height:70px;
  }
  &__logo{
    display:block;
    width:247px;
    position:absolute;
    top:0;
    left:12px;
    background: url('../img/logo_main.png') no-repeat;
    background-size: contain;
    z-index: 2;
    cursor: pointer;
  }
  h1{
    color:$color-grey;
    font-size:$font-size-main;
    font-weight:normal;
    margin-top:42px;
  }
  &__search{
    input{
      width:100%;
      padding: 14px 8px;
      font-size:$font-size-main;
      background: url("../img/search_gold.png") no-repeat 97% 50%;
      ::-webkit-input-placeholder {
        color:$color-middle-grey;
      }
      ::-moz-placeholder{
        color:$color-middle-grey;
      }
      :-moz-placeholder{
        color:$color-middle-grey;
      }
      :-ms-input-placeholder{
        color:$color-middle-grey;
      }
      color: $color-grey;
      border: 1px solid $color-middle-grey;
      border-radius: 5px;
    }

  }
  &__contacts{
    position:absolute;
    top:0;
    right:12px;
    >div{
      float: right;
      &:first-child{
        p{
          padding-top: 7px;
          color:$color-navy;
          &:first-child{
            color:$color-gold;
          }
        }

      }
      &:last-child{
        p{
          padding:12px 17px 0 0 ;
          font-size:23px;
          color: $color-black;
        }
      }
    }
&:after{
  clear: both;
  content: "";
}
  }
  &__basket-enter{
    position:absolute;
    top:88px;
    right:12px;
    height: 23px;
    padding-left: 40px;
    background: url("../img/basket_gold.png") no-repeat 0 50%;
    font-weight:bold;
    line-height:23px;
    color: $color-navy;

    a{
      display: inline-block;
      width: 90px;
      text-align: right;
      background: url("../img/enter_gold.png") no-repeat 20px 50%;
    }
    span{
      &:first-child{
        color: #fff;
        display: inline-block;
        height: 21px;
        width: 21px;
        margin-right:5px;
        border-radius:10px;
        background: $color-gold;
        text-align: center;
        font-size:$font-size-main;
      }
      &:nth-child(3),&:nth-child(4){
        font-size:$font-size-option;
      }
    }
  }
  nav{
    width:100%;
    border: 1px solid $color-light-grey;
    border-left: none;
    border-right: none;
    padding-left:30px;
    background: url("../img/menu_icon_gold.png") no-repeat 12px 50%;
    z-index: 50;


  }

.header__main-menu,
.header__main-menu li,
.header__main-menu ul,
.header__main-menu a,
.header__main-menu:after {
  margin: 0;
  padding: 0;
  z-index: 200;
  display: block;
}

  .header__main-menu:after {
    clear: both;
    content: "";
  }

  .header__main-menu > li {
    float: left;
  }

  .header__main-menu li {
    position: relative;
  }

  .header__main-menu > li > ul > li,
  .header__main-menu > li > ul > li > ul > li {
    height: 0;
    transition: 0.5s;
    overflow: hidden;
  }
  .header__main-menu > li > ul > li,
  .header__main-menu > li > ul > li > ul > li {
    width: 245px;
    background: red;
  }
  .header__main-menu > li:hover > ul > li,
  .header__main-menu > li > ul > li:hover > ul > li,
  .header__main-menu > li > ul > li > ul > li:hover > ul > li {
    height: 40px;
    overflow: visible;
  }

  .header__main-menu li ul li,
  .header__main-menu li ul li a {
    width: 100%;
  }

  .header__main-menu ul {
    position: absolute;
  }

  .header__main-menu ul ul {
    left: 100%; top: 0;
  }
}



@media screen and (max-width: 1400px) {
  .header{
    .row {
      height:100px;
      padding:0 400px 0 305px;
    }
    &__basket-enter{
      top:60px;
      a{
        margin-left: 40px;
      }
    }


  }
}

@media screen and (max-width: 1200px) {
  .header{
    margin: 30px 30px;
  }
}

@media screen and (max-width: 991px){
  .header{
    margin: 30px 20px;
    .row {
      padding:0 270px 0 230px;
      height:90px;
    }
    &__logo{
      width:180px;
    }
    h1{
      font-size:13px;
      margin-top:30px;
    }
    &__search{
      input{
        padding: 11px 8px;
      }
    }
    &__contacts{
      font-size:10px;
      >div{
        &:first-child{
          p{
            padding-top: 5px;
          }
        }
        &:last-child{
          p{
            padding:10px 17px 0 0 ;
            font-size:16px;
          }
        }
      }
    }
    &__basket-enter{
      top:50px;
      height: 18px;
      padding-left: 30px;
      background-size: auto 18px;
      line-height:18px;
      font-size:12px;
      a{
        display: inline-block;
        width: 80px;
        text-align: right;
        background: url("../img/enter_gold.png") no-repeat 15px 50%;
        background-size: auto 18px;
        margin-left: -10px;
        font-size:13px;
      }
      span{
        &:first-child{
          color: #fff;
          display: inline-block;
          height: 18px;
          width: 18px;
          margin-right:5px;
          border-radius:9px;
          background: $color-gold;
          text-align: center;
          font-size:13px;
          line-height:19px;
        }
        &:nth-child(3),&:nth-child(4){
          font-size:13px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

}
