/* common */
/*colors*/
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0;
  padding: 0;
  margin: 0; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  font-family: "PT Sans", sans-serif;
  outline: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0;
  padding: 0; }

form {
  padding: 0;
  margin: 0; }

a {
  color: inherit;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'PT Sans Bold';
  src: url("pt_sans-web-bold-webfont.eot");
  src: url("pt_sans-web-bold-webfont.eot?#iefix") format("embedded-opentype"), url("pt_sans-web-bold-webfont.woff2") format("woff2"), url("pt_sans-web-bold-webfont.woff") format("woff"), url("pt_sans-web-bold-webfont.ttf") format("truetype"), url("pt_sans-web-bold-webfont.svg#pt_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PT Sans';
  src: url("pt_sans-web-regular-webfont.eot");
  src: url("pt_sans-web-regular-webfont.eot?#iefix") format("embedded-opentype"), url("pt_sans-web-regular-webfont.woff2") format("woff2"), url("pt_sans-web-regular-webfont.woff") format("woff"), url("pt_sans-web-regular-webfont.ttf") format("truetype"), url("pt_sans-web-regular-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.main-wrapper {
  min-width: 320px;
  max-width: 1442px;
  margin: 0 auto; }

.test {
  border: 1px solid red; }
  .test1 {
    border: 1px solid blue; }
  .test2 {
    border: 1px solid green; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header {
  margin: 30px 100px;
  font-size: 14px; }
  .header .row {
    position: relative;
    padding: 0 440px 0 305px;
    height: 70px; }
  .header__logo {
    display: block;
    width: 247px;
    position: absolute;
    top: 0;
    left: 12px;
    background: url("../img/logo_main.png") no-repeat;
    background-size: contain;
    z-index: 2;
    cursor: pointer; }
  .header h1 {
    color: #747688;
    font-size: 14px;
    font-weight: normal;
    margin-top: 42px; }
  .header__search input {
    width: 100%;
    padding: 14px 8px;
    font-size: 14px;
    background: url("../img/search_gold.png") no-repeat 97% 50%;
    color: #747688;
    border: 1px solid #b8b8bd;
    border-radius: 5px; }
    .header__search input ::-webkit-input-placeholder {
      color: #b8b8bd; }
    .header__search input ::-moz-placeholder {
      color: #b8b8bd; }
    .header__search input :-moz-placeholder {
      color: #b8b8bd; }
    .header__search input :-ms-input-placeholder {
      color: #b8b8bd; }
  .header__contacts {
    position: absolute;
    top: 0;
    right: 12px; }
    .header__contacts > div {
      float: right; }
      .header__contacts > div:first-child p {
        padding-top: 7px;
        color: #2b3056; }
        .header__contacts > div:first-child p:first-child {
          color: #cb944c; }
      .header__contacts > div:last-child p {
        padding: 12px 17px 0 0;
        font-size: 23px;
        color: #181616; }
    .header__contacts:after {
      clear: both;
      content: ""; }
  .header__basket-enter {
    position: absolute;
    top: 88px;
    right: 12px;
    height: 23px;
    padding-left: 40px;
    background: url("../img/basket_gold.png") no-repeat 0 50%;
    font-weight: bold;
    line-height: 23px;
    color: #2b3056; }
    .header__basket-enter a {
      display: inline-block;
      width: 90px;
      text-align: right;
      background: url("../img/enter_gold.png") no-repeat 20px 50%; }
    .header__basket-enter span:first-child {
      color: #fff;
      display: inline-block;
      height: 21px;
      width: 21px;
      margin-right: 5px;
      border-radius: 10px;
      background: #cb944c;
      text-align: center;
      font-size: 14px; }
    .header__basket-enter span:nth-child(3), .header__basket-enter span:nth-child(4) {
      font-size: 16px; }
  .header nav {
    width: 100%;
    border: 1px solid #dddfdf;
    border-left: none;
    border-right: none;
    padding-left: 30px;
    background: url("../img/menu_icon_gold.png") no-repeat 12px 50%;
    z-index: 50; }
  .header__main-menu {
    z-index: 50; }
    .header__main-menu li, .header__main-menu ul, .header__main-menu a, .header__main-menu:after {
      z-index: 50;
      display: block; }
    .header__main-menu:after {
      clear: both;
      content: ""; }
    .header__main-menu li {
      cursor: pointer;
      position: relative; }
      .header__main-menu li ul li,
      .header__main-menu li ul li a {
        width: 100%; }
    .header__main-menu > li {
      float: left;
      font-size: 16px;
      font-weight: bold;
      padding: 20px 12px; }
      .header__main-menu > li.deeper:after {
        content: url("../img/arrow_down_gold.png");
        position: relative;
        left: 5px;
        top: -2px; }
      .header__main-menu > li.deeper .deeper:after {
        content: url("../img/arrow_down_gold.png");
        transform: rotate(270deg);
        position: absolute;
        right: 15px;
        top: 12px; }
      .header__main-menu > li.deeper .deeper span {
        text-transform: uppercase;
        color: #cb944c;
        font-weight: bold;
        display: block;
        width: 245px;
        margin-left: -35px;
        padding-left: 15px;
        cursor: default;
        z-index: 150; }
      .header__main-menu > li > ul > li,
      .header__main-menu > li > ul > li > ul > li {
        height: 0;
        transition: 0.5s;
        overflow: hidden;
        width: 245px;
        background: #FFF;
        color: #666666;
        font-size: 16px;
        font-weight: normal; }
        .header__main-menu > li > ul > li:hover,
        .header__main-menu > li > ul > li > ul > li:hover {
          background: #e9e9ea; }
        .header__main-menu > li > ul > li:first-child:hover,
        .header__main-menu > li > ul > li > ul > li:first-child:hover {
          background: inherit; }
        .header__main-menu > li > ul > li:first-child.deeper:hover,
        .header__main-menu > li > ul > li > ul > li:first-child.deeper:hover {
          background: #e9e9ea; }
      .header__main-menu > li > ul > li a {
        position: relative; }
      .header__main-menu > li > ul > li a:before {
        content: url("../img/menu_ring_gold.png");
        position: absolute;
        top: -2px;
        left: -15px; }
      .header__main-menu > li:hover > ul > li,
      .header__main-menu > li > ul > li:hover > ul > li,
      .header__main-menu > li > ul > li > ul > li:hover > ul > li {
        height: inherit;
        padding: 10px 35px;
        overflow: visible; }
      .header__main-menu > li:hover > ul,
      .header__main-menu > li > ul > li:hover > ul,
      .header__main-menu > li > ul > li > ul > li:hover > ul {
        border: 1px solid #b8b8bd;
        border-radius: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: 0s; }
    .header__main-menu ul {
      position: absolute;
      top: 65px;
      left: -25px;
      box-shadow: 2px 2px #dddfdf; }
      .header__main-menu ul ul {
        left: calc(100% + 3px);
        top: -20px; }

@media screen and (max-width: 1400px) {
  .header .row {
    height: 100px;
    padding: 0 400px 0 305px; }
  .header__basket-enter {
    top: 60px; }
    .header__basket-enter a {
      margin-left: 40px; }
  .header__main-menu > li {
    padding: 20px 25px; } }

@media screen and (max-width: 1200px) {
  .header {
    margin: 30px 30px; }
    .header__main-menu > li {
      padding: 20px 15px; } }

@media screen and (max-width: 991px) {
  .header {
    margin: 30px 20px; }
    .header .row {
      padding: 0 270px 0 230px;
      height: 90px; }
    .header__logo {
      width: 180px; }
    .header h1 {
      font-size: 13px;
      margin-top: 30px; }
    .header__search input {
      padding: 11px 8px; }
    .header__contacts {
      font-size: 10px; }
      .header__contacts > div:first-child p {
        padding-top: 5px; }
      .header__contacts > div:last-child p {
        padding: 10px 17px 0 0;
        font-size: 16px; }
    .header__basket-enter {
      top: 50px;
      height: 18px;
      padding-left: 30px;
      background-size: auto 18px;
      line-height: 18px;
      font-size: 12px; }
      .header__basket-enter a {
        display: inline-block;
        width: 80px;
        text-align: right;
        background: url("../img/enter_gold.png") no-repeat 15px 50%;
        background-size: auto 18px;
        margin-left: -10px;
        font-size: 13px; }
      .header__basket-enter span:first-child {
        color: #fff;
        display: inline-block;
        height: 18px;
        width: 18px;
        margin-right: 5px;
        border-radius: 9px;
        background: #cb944c;
        text-align: center;
        font-size: 13px;
        line-height: 19px; }
      .header__basket-enter span:nth-child(3), .header__basket-enter span:nth-child(4) {
        font-size: 13px; }
    .header__main-menu > li {
      padding: 20px 10px;
      font-size: 13px; } }
